In [1]:
import pandas as pd
import numpy as np
from string import punctuation
from nltk.corpus import stopwords
from nltk.tokenize import TweetTokenizer
from nltk.stem import WordNetLemmatizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import BernoulliNB

In [2]:
train=pd.read_csv(r'train.csv')
train.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [3]:
test=pd.read_csv(r'test.csv')
test.head()

   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan

## What am I predicting?
You are predicting whether a given tweet is about a real disaster or not. If so, predict a 1. If not, predict a 0.

Files

In [4]:
#list(punctuation)

In [5]:
lemm =WordNetLemmatizer()

In [6]:
tweet_tok=TweetTokenizer()

In [7]:
def clean_text(txt):
    tok=tweet_tok.tokenize(txt.lower())
    stop_updated=stopwords.words("english")+list(punctuation)
    final_txt=[lemm.lemmatize(word) for word in tok if word not in stop_updated]
    res=" ".join(final_txt)

In [8]:
train['cleaned_text']=train['text'].apply(clean_text)
train.head()

,id,keyword,location,text,target,cleaned_text
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1,None
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1,None
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1,None
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1,None
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1,None

In [9]:
tfidf_vect=TfidfVectorizer()

In [10]:
X_tfidf=tfidf_vect.fit_transform(train['text'])

In [11]:
X_tfidf

<7613x21637 sparse matrix of type '<class 'numpy.float64'>'
	with 111497 stored elements in Compressed Sparse Row format>

In [12]:
Y=train['target']

In [13]:
Y

0       1
1       1
2       1
3       1
4       1
5       1
6       1
7       1
8       1
9       1
10      1
11      1
12      1
13      1
14      1
15      0
16      0
17      0
18      0
19      0
20      0
21      0
22      0
23      0
24      0
25      0
26      0
27      0
28      0
29      0
       ..
7583    1
7584    0
7585    1
7586    1
7587    0
7588    1
7589    1
7590    1
7591    1
7592    1
7593    0
7594    1
7595    1
7596    1
7597    1
7598    1
7599    1
7600    1
7601    1
7602    1
7603    1
7604    1
7605    1
7606    1
7607    1
7608    1
7609    1
7610    1
7611    1
7612    1
Name: target, Length: 7613, dtype: int64

In [14]:
Classifer=BernoulliNB()

In [15]:
Classifer=Classifer.fit(X_tfidf,Y)

In [16]:
Z_tfidf=tfidf_vect.transform(test['text'])

In [17]:
pred=Classifer.predict(Z_tfidf)

In [18]:
test['target']=pred

In [19]:
test.head()

,id,keyword,location,text,target
0,0,NaN,NaN,Just happened a terrible car crash,0
1,2,NaN,NaN,"Heard about #earthquake is different cities, s...",0
2,3,NaN,NaN,"there is a forest fire at spot pond, geese are...",1
3,9,NaN,NaN,Apocalypse lighting. #Spokane #wildfires,0
4,11,NaN,NaN,Typhoon Soudelor kills 28 in China and Taiwan,1

In [20]:
df=test[['id','target']]

In [21]:
df.head()

   id  target
0   0       0
1   2       0
2   3       1
3   9       0
4  11       1

In [22]:
df.to_csv('submission1.csv',index=False)